body {
    background: url('https://thumbs.dreamstime.com/b/fazenda-futurista-com-agricultura-vertical-verduras-esverdeadas-sem-olhar-para-montanha-captura-de-cena-uma-harmonia-entre-379712949.jpg?w=992') no-repeat center center / cover fixed;
    margin: 0;
    min-height: 100vh;
}
